{% extends 'core/base.html' %}
{% block content %}
    <!-- Контент - правый блок -->
            <div class="right">
                <h1>Мои стихи - моя жизнь.</h1>

                <p>Биография</p>
                <img src="/images/img1.png" alt="" title="" style="margin-right:40px;" />
                <img src="/images/img2.png" alt="" title="" style="margin-right:40px;" />
                <img src="/images/img3.png" alt="" title="" />


                <p> Читайте и вдохновляйтесь </p>

            </div>

            <!-- Левое меню - левый блок блок -->
            <div class="left">
                <div id="left-menu">
                    <div class="block-nad-menu"></div>
                    <div class="block-menu">
                        <ul>
                            {% for obj in categories %}
                            <li><a href="/lyrics_list?category_id={{ obj.id }}">{{ obj.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="block-pod-menu"></div>
                </div>

            </div>
{% endblock %}